<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}site e-commerce{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚓</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--Feuilles de style-->
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        {% endblock %}

        <!--Fichiers javaScript-->
        <script src="{{asset('assets/js/bootstrap.bundle.js')}}" defer></script>
        {% block javascripts %}
        <script src="{{asset('assets/js/script.js')}}" defer></script>
        {% endblock %}
    
    </head>
    <body>
        {% include "partielle/nav.html.twig" %}

        {% block body %}{% endblock %}

        {% include "partielle/footer.html.twig" %}
    </body>
</html>
